* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: #243b55;
  height: 5rem;
  padding: 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-brand {
  display: flex;
  align-items: center;
  height: 20px;
}

.logo {
  padding: 20px 0;
}
.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.nav-links:link,
.nav-links:visited {
  display: inline-block;
  color: #f1f8ef;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.nav-links:hover,
.nav-links:active {
  color: #bfd6ebfd;
  border-bottom: 3px solid #f1f8ef;
}

/*Hamburger--Menu*/
.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  color: #f1f8ef;
  display: none;
}

/*Selecting based naming attribute*/
.icon-mobile-nav[name="close"] {
  display: none;
}

.icon-mobile-nav {
  height: 2rem;
  width: 2rem;
  color: #f1f8ef;
}

/*Sticky--Navigation*/
.sticky-nav .header {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #243b55;
  z-index: 999;
  width: 100%;
  height: 6rem;
  padding-block: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}

.sticky-nav .hero-bg {
  margin-top: 5rem;
}

/*hero-section*/
.hero-bg {
  display: flex;
  align-items: center;
  background-image: url(img/emeka\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 1.25rem 0;
}

.hero--center {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}
.hero-title {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 800;
  color: #f1f8ef;
  margin-bottom: 2rem;

  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

.hero-text {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #f1f8ef;
  line-height: 1.7;
  margin-bottom: 2.25rem;
}

.resume {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 10px;
  border: none;
  background-color: #bfd6ebfd;
  cursor: pointer;
  font-size: 1.2rem;
}

.resume a {
  color: black;
}

.resume:link,
.resume:visited {
  background-color: #b7c2cc;
}

.resume:hover,
.resume:active {
  background-color: #5a7388d0;
}

/*--Portfolio--section--*/
.bg--portfolio {
  background-color: #f1f8ef;
  height: 100vh;
  width: auto;
  padding: 1.25rem 0;
}

.portfolio--title {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #333;
}

.card {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  height: 550px;
  width: 400px;
}

.card:hover {
  background-color: #5a7388;
  scale: 1.05;
  transform: translateY(-15px);
  transition: all 0.7s ease-in-out;
}
.portfolio--content {
  padding: 3rem;
}
.starbucks--demo {
  width: 100%;
}

.portfolio--subhead {
  margin: 1.25rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
}

.descriptions {
  font-size: 1.1rem;
  color: #333;
}

/*SKILLS--SECTION*/
.bg--skills {
  background-color: #bdcfdf;
  height: 70vh;
  width: auto;
  padding: 1.25rem 0;
}

.skills--heading {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 3.7rem;
}

.skills {
  width: 100%;
  margin: 2.5rem 0;
}

.skills:hover {
  scale: 1.2;
  transition: all 0.7s ease-in-out;
}

/*ABOUT--SECTION*/
.bg--about {
  background-color: #f1f8ef;
  height: 80vh;
  width: auto;
  padding: 1.25rem 0;
}

.about--title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin: 2.5rem 0;
  border-bottom: 3px solid #334;
}

.about--title:hover {
  transition: all 0.7s ease-in-out;
  transform: translateY(-15px);
  cursor: pointer;
}

.about--text {
  font-size: 1.25rem;
  color: #333;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-top: 3.125rem;
}

/*FOOTER--SECTION*/
.bg--footer {
  background-color: #bdcfdf;
  height: 40vh;
  width: auto;
  padding: 1.25rem 0;
}

.container--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.email--title {
  font-size: 1.7rem;
  margin-top: 1.9rem;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer--text {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1.8rem;
}

.social--links {
  margin-top: 30px;
}

.copyright {
  font-size: 0.9rem;
  color: #333;
}

/*CONTAINER--SETTINGS*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

/*GRID--STYLE*/
.grid {
  display: grid;
  align-self: center;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem;
}

/*ANIMATION*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*----Media Queries--*/
@media (max-width: 320px) {
  .card {
    width: 240px;
  }

  .email--title {
    font-size: 0.8rem;
    font-weight: 800;
  }

  .footer--text {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .email--title {
    font-size: 1rem;
    font-weight: 800;
  }
}

@media (max-width: 414px) {
  .email--title {
    font-size: 1.2rem;
    font-weight: 800;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 0 2rem;
  }

  .hero-bg {
    background-position: 80%;
  }

  .grid--2--cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio--subhead {
    font-size: 1.2rem;
  }

  .skills--heading {
    text-align: center;
  }

  .grid--5--cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 653px) {
  .main-nav-list {
    gap: 1rem;
    padding-block: 7rem;
  }

  .card {
    width: 275px;
  }
}

@media (max-width: 768px) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #243b55;
    height: 100vh;
    width: 100%;

    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    padding-block: 10rem;
  }

  .nav-links:link,
  .nav-links:visited {
    font-size: 1rem;
  }

  .hero-bg {
    height: auto;
    padding-block: 3rem;
  }

  .hero-title {
    font-size: 3rem;
  }
  .grid--2--cols {
    gap: 2rem;
  }
  .card {
    width: 320px;
  }
}

@media (max-width: 820px) {
  .hero-bg {
    background-position: 80%;
    height: auto;
  }

  .grid--2--cols {
    gap: 2rem;
  }
  .card {
    width: 300px;
  }

  .bg--footer {
    padding-bottom: 7rem;
  }
}

@media (max-width: 1024px) {
  .bg--portfolio {
    height: auto;
    padding-block: 2.25rem;
  }
  .bg--about {
    height: auto;
    padding-block: 2.25rem;
  }
  .bg--footer {
    height: auto;
  }
  .bg--skills {
    height: auto;
  }
  .footer--text {
    padding: 0 1rem;
    text-align: center;
  }
}

@media (max-width: 1150px) {
  .footer--text {
    padding: 0 1rem;
    text-align: center;
  }
}

@media (orientation: landscape) {
  .card {
    width: 344px;
  }
}

@media (max-width: 1440px) {
  .bg--portfolio {
    height: 14ovh;
  }
}
